#(project
  (#(meta
     (#(name barista)
      #(description "Barista serves up hot lmugs of LFE for your simple HTTP needs.")
      #(version "0.0.1")
      #(keywords ("LFE" "Lisp" "Library" "HTTP" "lmug" "Ring" "WSGI" "Web"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos (#(github "lfex/barista")))))))
#(barista
  (#(httpd-conf
     (#(host "localhost")
      #(port 1206)
      #(server-name "barista-dev")
      #(server-root "./")
      #(log-dir "log")
      #(error-log "errors.log")
      #(access-log "access.log")
      #(docroot "www")
      #(index-files '("index.html"))))))