#(project
  (#(meta (
     #(name barista)
     #(description "Barista serves up hot lmugs of LFE for your simple HTTP needs.")
     #(version "0.0.1")
     #(keywords ("LFE" "Lisp" "Library" "HTTP" "lmug" "Ring" "WSGI" "Web"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (#(github "lfex/barista")))))))